body{
  align-items: center;
  display: flex;
  justify-content: center;
}

#Calculator{
  border: 1px solid rgb(28, 25, 25);
  border-radius: 5px;
  width: 200px;
  height: 450px;
  background-color: rgba(53, 46, 46, 0.674);
}

#display{
  margin: 10px;
  width: 86%;
  font-size: 40px;
  background-color: rgba(190, 175, 175, 0.674);
  
}

.btn{
  width: 50px;
  height: 50px;
  margin: 3px;
  border-radius: 40%;
  background-color: rgba(72, 142, 167, 0.674);


}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(53, 46, 46, 0.674);

}

